<section id="orders" class="col">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
    <script>
        const getDate = (dateString) => {
            let date = new Date(dateString);
            date = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
            return date.toString();
        }
    </script>
    <div class="container ordersContainer">
        <h1>Your Orders</h1>
        {{!-- sort this eventually --}}
        <div id="orderList" class="flex">
            {{!-- put number in hbs template --}}
            {{#each orders}}
            <div style="width: 60%; float:left">
            <div class="order col" >  
                {{!-- <h3>Date: {{this.time}}</h3> --}}
                <h3>Date: 4:30pm 29 Aug 2020</h3>
                <h3>Status: {{this.status}}</h3>
                <div class="orderItems colStart">
                    <h3>items:</h3>
                    {{#each this.order}}
                    <div class="flex orderItem">
                        <img src={{this.photo}} alt="food" />
                        <div class="colStart">
                            <p>{{this.name}}</p>
                            <p>Quantity: {{this.quantity}}</p>
                            <p>Price: ${{this.price}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="flex">
                    <p>Total Price: ${{this.price}}</p>
                    <p>Your rating: {{this.customerRating}}</p>
                </div>
                </div>
                </div>
                <div style="width: 40%; float:right; vertical-align:middle">
                    <div class="order col" >
                        <div style="vertical-align: middle;">
                            <button class="changeButton">Change</button>
                            <button type="changeButton" onclick="showCancelPopup()">Cancel</button>
                            <button class="changeButton" onclick="showRatePopup()">RateTest</button>
                        </div>                   
                    </div>
                </div>
                <hr style="width:100%", size="3", color=white> 
        
        {{!rating popup}}
        <div id="ratePopup" class="colMiddle" style="display: none;">
        <div id="orderPopupModal">
            <div class="flexBetween exitModal">
                <i onclick="hideRatePopup()" class="fas fa-times"></i>
            </div>
            <div class="card-body text-center"> <img src=" https://i.imgur.com/d2dKtI7.png" height="100" width="100">
                <div class="comment-box text-center">
                    <h4>Rate Your Order</h4>
                    <div class="rating"> 
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> 
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> 
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> 
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> 
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> 
                    </div>
                </div>
            </div>
            <div class="popupButtons flexMiddle stretch">
                {{!-- hide cancel button after 10 minutes --}}
                <button class="doneButton" onclick="location.href='/{{this._id}}/setOrderRating'">Submit</button>
            </div>
        </div>
        </div>

        {{!Cancel popup}}   

        <div id="cancelPopup" class="colMiddle" style="display: none;">
        <div id="cancelPopupModal">
            <div class="flexBetween exitModal">
                <i onclick="hideCancelPopup()" class="fas fa-times"></i>
            </div>
            <h4>Are you sure you want to cancel your order?</h4>
            <div class="popupButtons flexMiddle stretch">
                <button class="changeButton" onclick="hideCancelPopup()">No</button>
                <button class="doneButton" onclick="location.href='/orders/cancelSessionOrder'">Yes</button>
                {{!-- now the done button will redirect the page to vendors page, 
                to make it different from the change button --}}
            </div>
        </div>
        </div>
                
            {{/each}}
            {{#unless orders}}
            {{#if customer_id}}
            <div class="col">
                <h2>You have no orders to show</h2>
                <h2>Find a van near you to make an order</h2>
                <button class="lightButton" onclick="location.href='/vendors'" type="button"
                    style="margin: 0 auto;">Find a Van</button>
            </div>
            {{#else}}
            <h2>You must login to see your orders</h2>
            {{/else}}
            {{/if}}
            {{/unless}}
        </div>
        </div>
        
        

        
        
    
    <script>
            const showRatePopup = () => {
                let popup = document.getElementById("ratePopup");
                popup.style.display = "flex";
            }
            const hideRatePopup = () => {
                let popup = document.getElementById("ratePopup");
                popup.style.display = "none";
            }
            const showCancelPopup = () => {
                let cancelPopup = document.getElementById("cancelPopup");
                cancelPopup.style.display = "flex";
            }
            const hideCancelPopup = () => {
                let cancelPopup = document.getElementById("cancelPopup");
                cancelPopup.style.display = "none";}




    </script>

    
</section>