<section id="singleVendor" class="col container">
    <div id="vendorTitle" class="flex alignMiddle">
        <button class="darkButton" onclick="location.href='/vendors'" type="button">Back to Vendors</button>
        <h1>{{vendor.name}}, {{vendor.textlocation}}</h1>
    </div>
    <div class="flexBetween vendorDisplay">
        <div id="menu">
            {{#vendorMenu vendor.menu.menuitem vendor._id}}{{/vendorMenu}}
        </div>
        <div id="order" class="col">
            <div class="col">
                <h2>Your order</h2>
                <div class="van col">
                    <div class="flexBetween">
                        <h4>VAN</h4>
                        <h5>change</h5>
                    </div>
                    <div class="name flex">
                        <div class="title">
                            <p>{{vendor.name}}</p>
                        </div>
                        <div class="location flex">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>{{vendor.textlocation}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orderItems colTop">
                {{! Display the items in the cart if there are items, else display no items in cart}}
                {{#if orderitems}}
                    {{#each orderitems}}
                        {{#ifEquals @root.vendor._id this.vendorid}}
                            <div class="orderItem colTop stretch">
                                <div class="flexBetween stretch">
                                    <div class="flex">
                                        <span class="badge">{{this.quantity}} x </span>
                                        <p>{{ this.name }}</p>
                                    </div>
                                    <div class="flex">
                                        <p>${{#priceDisplay this.price }}{{/priceDisplay}}</p>
                                        <a class="removeItem" href="/customer/deleteOrderItem/{{this.menuitem}}/{{this.vendorid}}">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {{/ifEquals}}
                    {{/each}}
                {{else}}
                    <p>No Items in Order</p>
                {{/if}}
            </div>
            <div class="col">
                <div class="orderTotal flexBetween">
                    <h4>Total</h4>
                    {{! Display the total price of the cart}}
                    <strong>${{#priceDisplay totalPrice }}{{/priceDisplay}}</strong> 
                </div>
                <div class="flexMiddle">
                    <button class="submitButton" onclick="location.href='/orders/placeOrder/{{vendor._id}}'" type="submit">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</section>