<section id="vendorOutstandingOrders" class  = "col">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script> 
        const getDateTime = (dateString) => {
                let dateTime = new Date(dateString);
                date = dateTime.getFullYear() + '-' + (dateTime.getMonth() + 1) + '-' + dateTime.getDate();
                time = dateTime.getHours() + ":" + dateTime.getMinutes() + ":" + dateTime.getSeconds();
                dateTime = date+' '+time;
                return dateTime.toString();
        }
        </script>

        <script>
        // Showing the time remaining when vendor click the button. 
        function showPopUpTime() {
                alert("Remaining Time before Discount is Applied : ___")
        }
        </script>

        <div class = "container OutstandingOrdersContainer">
                <h1 style="text-align: center;">Orders that Have Not Been Fulfilled or Picked Up Yet</h1>
                <div id="OutstandingOrderList" class="flex">
                        {{#each OutstandingOrders}}
                        <div class = "outsOrders col">
                                {{! Date Time should show the time when customer place an order}}
                                <h3>Date Time Order Placed: {{orders.time}}</h3>
                                <h3>Status: {{orders.status}}</h3>
                                <h3>Order Number: {{orders.orderNumber}}</h3>
                                {{! Showing Customer Given Name & Time Remaining}}
                                <h3>Customer Name: {{customer.givenName}}</h3>
                                <h3>Time Remain Before Discount: **Not Sure How to Get It Yet**</h3>
                                <div class="orderItems colStart">
                                        <h3>Items Ordered:</h3>
                                        {{#each orders.orderitems}}
                                        <div class="flex orderItem">
                                                <div class="colStart">
                                                        <p>{{this.name}}</p>
                                                        <p>Quantity: {{this.quantity}}</p>
                                                        <p>Price: ${{this.price}}</p>
                                                </div>
                                        </div>
                                        {{/each}}
                                </div>
                                {{! Two buttons for vendors to set the orders status}}
                                <div class="flex">
                                        <button onclick = "showPopUpTime" onclick = "location.href='/orders/{{this._id}}/setOrderFulfilled'" type="button">Order Fulfilled</button>
                                        <button onclick="location.href='/orders/{{this._id}}/setOrderCollected'" type="button">Order Collected</button>
                                </div>
                        </div>
                        {{else}}
                        <h3 style="text-align: center;"> Currently, We Don't Have Any Outstanding Orders</h3>                      
                        {{/each}}
                </div>
        </div>
</section>